* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

#gameboard {
    display: flex;
    justify-content: center;
}

#score-board {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: gainsboro;
}

body {
    background-color: red;
}

header {
    text-align: center;
    background-color: rebeccapurple;
}